footer {
    display: none;
}

a, p a, a:visited {
    color: #EDA864;
}


.wy-side-nav-search {
    background-color: #EDA864;
}

.wy-side-nav-search input[type="text"] {
    border: none;
}

.wy-side-nav-search a,.wy-side-nav-search a:visited  {
    color: #000;
}